<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.56" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="4.0.56" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net451" />
  <package id="TBA.BeastInterface" version="1.0.0" targetFramework="net451" />
  <package id="TBA.BeastModels" version="1.0.9" targetFramework="net451" />
  <package id="TBA.Utilities.CacheService" version="1.0.3" targetFramework="net451" />
  <package id="TBA.Utilities.LogUtility" version="1.0.3" targetFramework="net451" />
</packages>